@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    background: #f3f3f3;
    font-family: "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #ddd;
    outline: none;
}

a:hover, a:focus {
    color: #fff;
    outline: none;
}

.navbar {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    min-height: 40px;
    margin: 0;
}


/** Multi layer push menu ------------------------------------ */

.container {
    background: #f3f3f3;
}

/*
.scroller {
    overflow: visible;
}*/

.mp-menu {
    width: 250px;
}

.mp-menu h2 {
    border-bottom: 1px solid rgba(153,153,153,0.2);
    color: #ccc;
    font-size: 1em;
}

.mp-menu ul li > a {
    font-size: 1em;
}
.mp-menu ul li::before {
    color: rgba(255, 255, 255, 0.3);
    line-height: 2.7;
}

.mp-back::after {
    color: rgba(255, 255, 255, 0.3);
}

/** disable main overlay */
.mp-pusher.mp-pushed::after{
    display: none;
}



/** Legend --------------------------------------------------------- */
.legend {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.legend .tab-metric-scale .title {
    display: none;
}

.legend .title {
    background: #333;
    color: #ccc;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(153,153,153,0.2);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.legend ul li {
    border-bottom: 1px solid rgba(153,153,153,0.2);
    cursor: pointer;
    color: #aaa;
    padding: 10px;
    display: block;
    position: relative;
}

.legend-colors li, .legend-dot li {
    vertical-align: top;
    padding: 6px 10px;
    cursor: default;
    line-height: 16px;
}

.legend .circle {
    background: #eee;
    border-radius: 8px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
}


/** Small multiples -------------------------------------------------------------------- */
.small-multiples {
    border-right: 1px solid #DDD;
}

/** hide columns when no space is available */
@media only screen and (max-width: 1300px) {
    table.small-multiples td:nth-child(7),
    table.small-multiples th:nth-child(7) {display: none;}
}
@media only screen and (max-width: 1140px) {
    table.small-multiples td:nth-child(6),
    table.small-multiples th:nth-child(6) {display: none;}
}
@media only screen and (max-width: 980px) {
    table.small-multiples td:nth-child(5),
    table.small-multiples th:nth-child(5) {display: none;}
}
@media only screen and (max-width: 820px) {
    table.small-multiples td:nth-child(4),
    table.small-multiples th:nth-child(4) {display: none;}
}
@media only screen and (max-width: 600px) {
    table.small-multiples td:nth-child(3),
    table.small-multiples th:nth-child(3) {display: none;}
}

.ch-tooltip {
    white-space: nowrap;
    width: auto;
}

.cal-wrapper {
    border-right: 1px solid #eee;
    border-top: 1px solid #ddd;
    background-color: white;
    vertical-align: top;
    visibility: hidden;
}

.cal-wrapper.has-data {
    visibility: visible;
}

.cal-wrapper .secondary-label {
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #999;
    font-size: 10px;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    font-weight: 400;
}

.cal-wrapper .primary-label {
    background-color: white;
    border: 1px solid #ddd;
    border-left: 0;
    height: 40px;
    width: 157px;
    position: fixed;
    top: 0;
    padding: 10px 0;
    font-weight: bold;
    display: block;
    color: #666;
    text-align: center;
    z-index: 10;
}

.cal-wrapper .city-cal {
    padding: 25px 25px;
}

.cal-heatmap-container .graph-label {
    font-family: "Lato", "sans-serif";
    font-weight: 400;
}

.cal-heatmap-container {
    width: 106px;
}

/* Metric colors */
[metric="none"] .q1, [metric="none"] .q2, [metric="none"] .q3, [metric="none"] .q4, [metric="none"] .q5, [metric="none"] .q6, [metric="none"] .q7 {
    background-color: #eee;
    fill: #eee;
}

[metric="dust"] .q1 {
    background-color: #fff7bc;
    fill: #fff7bc;
}
[metric="dust"] .q2 {
    background-color: #fee391;
    fill: #fee391;
}
[metric="dust"] .q3 {
    background-color: #fec44f;
    fill: #fec44f;
}
[metric="dust"] .q4 {
    background-color: #fe9929;
    fill: #fe9929;
}
[metric="dust"] .q5 {
    background-color: #ec7014;
    fill: #ec7014;
}
[metric="dust"] .q6 {
    background-color: #cc4c02;
    fill: #cc4c02;
}
[metric="dust"] .q7 {
    background-color: #993404;
    fill: #993404;
}
[metric="dust"] .q8 {
    background-color: #662506;
    fill: #662506;
}


[metric="humidity"] .q1 {
    background-color: #e0f3db;
    fill: #e0f3db;
}
[metric="humidity"] .q2 {
    background-color: #ccebc5;
    fill: #ccebc5;
}
[metric="humidity"] .q3 {
    background-color: #a8ddb5;
    fill: #a8ddb5;
}
[metric="humidity"] .q4 {
    background-color: #7bccc4;
    fill: #7bccc4;
}
[metric="humidity"] .q5 {
    background-color: #4eb3d3;
    fill: #4eb3d3;
}
[metric="humidity"] .q6 {
    background-color: #2b8cbe;
    fill: #2b8cbe;
}
[metric="humidity"] .q7 {
    background-color: #08589e;
    fill: #08589e;
}

[metric="light"] .q1 {
    background-color: #0c2c84;
    fill: #0c2c84;
}
[metric="light"] .q2 {
    background-color: #225ea8;
    fill: #225ea8;
}
[metric="light"] .q3 {
    background-color: #1d91c0;
    fill: #1d91c0;
}
[metric="light"] .q4 {
    background-color: #41b6c4;
    fill: #41b6c4;
}
[metric="light"] .q5 {
    background-color: #7fcdbb;
    fill: #7fcdbb;
}
[metric="light"] .q6 {
    background-color: #c7e9b4;
    fill: #c7e9b4;
}
[metric="light"] .q7 {
    background-color: rgb(255, 232, 170);
    fill: rgb(255, 232, 170);
}


[metric="sound"] .q1 {
    background: #bfd3e6;
    fill: #bfd3e6;
}
[metric="sound"] .q2 {
    background: #9ebcda;
    fill: #9ebcda;
}
[metric="sound"] .q3 {
    background: #8c96c6;
    fill: #8c96c6;
}
[metric="sound"] .q4 {
    background: #8c6bb1;
    fill: #8c6bb1;
}
[metric="sound"] .q5 {
    background: #88419d;
    fill: #88419d;
}
[metric="sound"] .q6 {
    background: #6e016b;
    fill: #6e016b;
}

[metric="temperature"] .q1 {
    background: rgb(12,44,132);
    fill: rgb(12,44,132);
}
[metric="temperature"] .q2 {
    background: rgb(34,94,168);
    fill: rgb(34,94,168);
}
[metric="temperature"] .q3 {
    background: rgb(29,145,192);
    fill: rgb(29,145,192);
}
[metric="temperature"] .q4 {
    background: rgb(65,182,196);
    fill: rgb(65,182,196);
}
[metric="temperature"] .q5 {
    background: rgb(127,205,187);
    fill: rgb(127,205,187);
}
[metric="temperature"] .q6 {
    background: rgb(245, 183, 171);
    fill: rgb(245, 183, 171);
}
[metric="temperature"] .q7 {
    background: rgb(238, 131, 110);
    fill: rgb(238, 131, 110);
}
[metric="temperature"] .q8 {
    background: rgb(232, 92, 65);
    fill: rgb(232, 92, 65);
}
[metric="temperature"] .q9 {
    background: rgb(219, 58, 27);
    fill: rgb(219, 58, 27);
}

rect {
    shape-rendering: auto;
}


